<html>
<head>
   <title>Bootstrap Demonstration</title>
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <style>
      body{
         padding-top: 50px;
         background-color: lightblue;
      }
   </style>
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Europa Universalis 4 info</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="Developer">Developer</a></li>
         </ul>
         </div>
      </div>
   </nav>

   <div class="container">
       <h1>Paradox Interactive</h1>
       <h2>They are a swedish game company and have many games and do community outreach using platforms like twitch, twitter and youtube.</h2>
       <p class="lead">The developers: Paradox Interactive.</p>
       <p class="lead">The developers offical twitter: <a href="https://twitter.com/PdxInteractive?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">@PdxInteractive</a></p>
       <p class="lead">The developers offical twitch: <a href="https://www.twitch.tv/paradoxinteractive">ParadoxInteractive</a></p>
       <p class="lead">The developers official store: <a href="https://www.paradoxplaza.com/">Paradox Plaza</a>
   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
