<html>
<head>
   <title>Bootstrap Demonstration</title>
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <style>
      body{
         padding-top: 50px;
         background-color: lightblue;
      }
   </style>
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Europa Universalis 4 info</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Events">Events</a></li>
            <li class="active"><a href="/Events/CountryList">Country Specific</a></li>
            <li><a href="/Events/General">General</a></li>
         </ul>
         </div>
      </div>
   </nav>

   <div class="container">
       <h1>Kongo</h1>
       <h2>Starting African power</h2>
       <p class="lead">Kongo has many events related to religion as they converted to Christianity when the Portugese showed up.</p>
       <p></p>
       <p></p>
       <p class="lead">Portuguese Missionaries</p>
       <p>Trigger conditions are that you are Kongo, Portugal has religion Catholic, Kongolese Coast has discovered Portugal and Kongo isn't already Catholic.</p>
       <p>Two event paths can be chosen</p>
       <p>1# "Let them preach." Lose 1 stability, lose 25 prestige, lose 25 legitimacy. One random owned province flips Catholic. Sets flag kongo_allows_missionaries. Portugal gains a positive opinion modifier. Portugal gets the event "Missionaries Enter the Kongo!".</p>
       <p>2# "Drive off the missionaries!" If this country has a stability of less than +3 then it gains 1 stability or else gains 50 admin. Gain 10 prestige and portugal gets a negative opinion modifier. Portugal gets the event "Missionaries rebuffed".</p>
       <p></p>
       <p></p>
       <p class="lead">The King of Kongo Converts!</p>
       <p>Trigger conditions are Kongo has flag kongo_allows_missionaries, religion isn't Catholic, ruler is male and any owned province has religion Catholic.</p>
       <p>Two event paths can be chosen</p>
       <p>#1 "Christianity will triumph in Kongo!" Changes country religion to Catholic. If government is tribal change it to despotic monarchy. Lose 3 stability. Portugal gets the event "Conversion of the Kongo!".</p>
       <p>#2 "Off with his head!" Ruler dies.</p>
   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
