<html>
<head>
   <title>Bootstrap Demonstration</title>
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <style>
      body{
         padding-top: 50px;
         background-color: lightblue;
      }
   </style>
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Europa Universalis 4 info</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Events">Events</a></li>
            <li class="active"><a href="/Events/CountryList">Country Specific</a></li>
            <li><a href="/Events/General">General</a></li>
         </ul>
         </div>
      </div>
   </nav>

   <div class="container">
       <h1>Japan</h1>
       <h2>Formable Asian major power</h2>
       <p class="lead">Japan have a lot of events about Japanese feudal life, and new developments of culture that happened during the perior of time Eu4 is set in.</p>
       <p></p>
       <p></p>
       <p class="lead">The Sakoku Law</p>
       <p>Trigger conditions is Japan has the modifier "Sakoku Law", is not a subject nation, has had the flag Sakoku Law for at least 7300 days. Doesn't have the flag jap_sakoku, doesn't have modifier "Follow Sakoku" or modifier "Question Sakoku".</p>
       <p>Two event paths can be chosen</p>
       <p>1# "Keep following the Sakoku law." Gain modifier "Follow Sakoku" for 10 years. Set country flag jap_sakoku.</p>
       <p>2# "Abandon the Sakoku law." Gain modifier "Question Sakoku" for 10 years, lose 1 stability. Remove modifier "Sakoku Law" set flag jap_sakoku. All your subjects switch to the same modifiers.</p>
       <p></p>
       <p></p>
       <p class="lead">Unruly Samurai</p>
       <p>Trigger conditions are ulture is in Japanese group and is not at war.</p>
       <p>Two event paths can be chosen</p>
       <p>#1 "They seem useful!" Gain modifier "Unruly Samurai" for 10 years. Gain 10 army tradition.</p>
       <p>#2 "The punishment matches the crime." Lose 10 army tradition and gain 10 prestige.</p>
   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
