<html>
<head>
   <title>Bootstrap Demonstration</title>
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <style>
      body{
         padding-top: 50px;
         background-color: lightblue;
      }
   </style>
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Europa Universalis 4 info</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Events">Events</a></li>
            <li><a href="/Events/CountryList">Country Specific</a></li>
            <li class="active"><a href="/Events/General">General</a></li>
         </ul>
         </div>
      </div>
   </nav>

   <div class="container">
       <h1>General events</h1>
       <p></p>
       <p class="lead">Comet Sighted</p>
       <p>Can be randomly triggered at any point.</p>
       <p>Four event paths can be chosen because the developers made it a joke.</p>
       <p>1# "It's an omen" -1 Stability.</p>
       <p>2# "The end is nigh!" -1 Stability.</p>
       <p>3# "Ignore the peasant rabble" -1 Stability.</p>
       <p>4# "Stop looking at the sky!" -1 Stability.</p>
       <p>It became a meme to add a new option every time the developers release a new big dlc. There are no doubt more options to choose but they will all *hillariously* have the same option. Wikis don't even keep track of this event anymore because its just adding more unnessasary options.</p>
       <p></p>
       <p></p>
   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
