<html>
<head>
   <title>Bootstrap Demonstration</title>
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <style>
      body{
         padding-top: 50px;
         background-color: lightblue;
      }
   </style>
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Europa Universalis 4 info</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Events">Events</a></li>
            <li class="active"><a href="/Events/CountryList">Country Specific</a></li>
            <li><a href="/Events/General">General</a></li>
         </ul>
         </div>
      </div>
   </nav>

   <div class="container">
       <h1>Country list</h1>
       <p class="lead">This is where a big list of all nations appear with each one having a hyperlink to their events page if there are any for that specific country or countries.</p>
       <p></p>
       <p>Currently only 10 nations</p>
       <p><a href="/Events/France">France</a></p>
       <p><a href="/Events/Scotland">Scotland</a></p>
       <p><a href="/Events/Andalusia">Andalusia</a></p>
       <p><a href="/Events/Kongo">Kongo<a/></p>
       <p><a href="/Events/Mali">Mali</a></p>
       <p><a href="/Events/Ming">Ming</a></p>
       <p><a href="/Events/Japan">Japan</a></p>
       <p><a href="/Events/Huron">Huron</a></p>
       <p><a href="/Events/Aztec">Aztec</a></p>
       <p><a href="/Events/Australia">Australia</a></p>
   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
