<html>
<head>
   <title>Bootstrap Demonstration</title>
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <style>
      body{
         padding-top: 50px;
         background-color: lightblue;
      }
   </style>
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Europa Universalis 4 info</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Events">Events</a></li>
            <li class="active"><a href="/Events/CountryList">Country Specific</a></li>
            <li><a href="/Events/General">General</a></li>
         </ul>
         </div>
      </div>
   </nav>

   <div class="container">
       <h1>France</h1>
       <h2>AKA Francy pants and big blue blob. France is a starting major power.</h2>
       <p class="lead">France has many events as it was really important in European politics.</p>
       <p></p>
       <p></p>
       <p class="lead">The Surrender of Maine</p>
       <p>Is triggered only by England refusing to cede Maine in their event.</p>
       <p>Two event paths can be chosen</p>
       <p>1# "Time to teach them how to war." England declares war on France using the restoration of union casus belli. You Occupy the province of Maine.</p>
       <p>2# "Let us back down." Lose 10 prestige, England and France sign a mutual truce. If Provence exists they gain the opinion modifier "Gave up on maine." its a -70 opinion modifier with a yearly decay of +3. If The Cossacks is active then nobility also loses 10 loyalty.</p>
       <p></p>
       <p></p>
       <p class="lead">The French Revolution: Republican Monarchy</p>
       <p>Trigger conditions are that France is a republic or its capital is controlled by rebels. Is not a revolutionary republic. Is not a revolutionary empire. The revolution target does not exist. Either a revolution has happened in the world or the art of war dlc is enabled.</p>
       <p>"A Revolution has struck us!" France will be the revolution target. Changes government to revolutionary republic. Current ruler dies, all revolutionaries in france are disbanded. If France has a stability of less than +3 then it gains 1 stability else it gains 30 admin.</p>
   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
