<html>
<head>
   <title>Bootstrap Demonstration</title>
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <style>
      body{
         padding-top: 50px;
         background-color: lightblue;
      }
   </style>
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Europa Universalis 4 info</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Events">Events</a></li>
            <li class="active"><a href="/Events/CountryList">Country Specific</a></li>
            <li><a href="/Events/General">General</a></li>
         </ul>
         </div>
      </div>
   </nav>

   <div class="container">
       <h1>Ming</h1>
       <h2>Starting Asian/World major power</h2>
       <p class="lead">Ming have many events related to their mandate of heavan..</p>
       <p></p>
       <p></p>
       <p class="lead">Repairing the Great Wall</p>
       <p>Trigger conditions are that is Ming, year is 1450 or later but is before 1490.</p>
       <p>Two event paths can be chosen</p>
       <p>1# "Yes, we need to repair the Great Wall!" Lose ducats equal to 0.5 years of income.</p>
       <p>2# "Let it continue to crumble" Lose 10 prestige.</p>
       <p></p>
       <p></p>
       <p class="lead">The Perfection of Ming Porcelain</p>
       <p>Trigger conditions you are Ming, year is 1500 or later but before 1550..</p>
       <p>"Perfect! Every owned province that produces Chinaware in Asia gets the modifier perfect_porcelain forever.".</p>
   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
