<html>
<head>
   <title>Bootstrap Demonstration</title>
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <style>
      body{
         padding-top: 50px;
         background-color: lightblue;
      }
   </style>
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Europa Universalis 4 info</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Events">Events</a></li>
            <li class="active"><a href="/Events/CountryList">Country Specific</a></li>
            <li><a href="/Events/General">General</a></li>
         </ul>
         </div>
      </div>
   </nav>

   <div class="container">
       <h1>Australia</h1>
       <h2>Formable post colonial Oceanian power</h2>
       <p class="lead">Oceania is most often neglected. Australia probably has little to no unique events so I will include the formation option.</p>
       <p></p>
       <p></p>
       <p class="lead">Form Australian Nation</p>
       <p>Trigger conditions are that was never an end-game tag. Is a colonial nation or former colonial nation. Owns a province in colonial Australia. Has not formed any reformable nations or formable colonial nations before. Australia does not exist, its not at war and is not a subject nation.</p>
       <p>Country changes to Australia. Gain a permanent claim on all unowned Australian provinces. Gain 25 prestige. Gets modifier increased centralisation for 20 years which gives -0.05 monthly autonomy change and +1 national unrest. If it is in the HRE but not an elector or the emperor then remove all provinces from the HRE. If it is a duchy then form a kingdom.</p>
   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
