<html>
<head>
   <title>Bootstrap Demonstration</title>
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <style>
      body{
         padding-top: 50px;
         background-color: lightblue;
      }
   </style>
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Europa Universalis 4 info</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Events">Events</a></li>
            <li class="active"><a href="/Events/CountryList">Country Specific</a></li>
            <li><a href="/Events/General">General</a></li>
         </ul>
         </div>
      </div>
   </nav>

   <div class="container">
       <h1>Mali</h1>
       <h2>Starting African power</h2>
       <p class="lead">Mali has a bunch of events about their continued administration of the parts of Africa they control.</p>
       <p></p>
       <p></p>
       <p class="lead">Malian Authority Under Threat</p>
       <p>Trigger conditions are that country is Mali, stability is at least 0. Has to be before 1550, Owns province Trarza, Cayor, Wolof, Siine and Jolof doesn't exist..</p>
       <p>Two event paths can be chosen</p>
       <p>1# "Mali's decline ends here!" 4 Nationalist rebels size 2 rise up in every province listed above as a trigger requirement..</p>
       <p>2# "We can make some concessions..." Release Jolof as a vassal.</p>
       <p></p>
       <p></p>
       <p class="lead">Emergence of the Fulani</p>
       <p>Trigger conditions are that province is Kantor, Fulo doesn't exist, year is 1470 or later. Tekur is empty..</p>
       <p>Province Trarza, Bambuk, Kanto, Termes, Wagadu, Baghena all become a new nation Fulo. Fulo gains a ruler with 4 military skill and trait conqueror. Even if you have these provinces it will flip to the Fulo.</p>
   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
