<html>
<head>
   <title>Bootstrap Demonstration</title>
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <style>
      body{
         padding-top: 50px;
         background-color: lightblue;
      }
   </style>
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Europa Universalis 4 info</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Events">Events</a></li>
            <li class="active"><a href="/Events/CountryList">Country Specific</a></li>
            <li><a href="/Events/General">General</a></li>
         </ul>
         </div>
      </div>
   </nav>

   <div class="container">
       <h1>Andalusia</h1>
       <h2>Formable European power</h2>
       <p class="lead">Andalusia doesn't have unique events. It can be formed by any muslim nations with Andalusian/Maghrebi as primary culture. The formation event will be shown below.</p>
       <p></p>
       <p></p>
       <p class="lead">Restore Al-Andalus</p>
       <p>Trigger conditions are that Andalusia does not exist, is not subject nation, is not nomad nation, is not tribal and owns Granada, Sevillam Cordoba, Gibraltar, Jaen, Cadiz, Badajoz, Almeria and either (Algarve and Beja) or (Alicante and Valencia).</p>
       <p>Effects of the event are as follows. Country changes to Andalusia, gain 25 prestige, gain a permanent claim on Toledo, Upper and Lower Andalucia, Algarve, Beja, Badajoz, Valencia, Alicante and Extremandura. If Andalusian isn't primary culture it becomes primary culture. If its part of the Holy Roman Empire but not the emperor or an elector then all its provinces are removed from the HRE.If it is a duchy then it becomes a kingdom rank and Cordoba becomes the capital.</p>
   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
