<html>
<head>
   <title>Bootstrap Demonstration</title>
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <style>
      body{
         padding-top: 50px;
         background-color: lightblue;
      }
   </style>
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Europa Universalis 4 info</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Events">Events</a></li>
            <li class="active"><a href="/Events/CountryList">Country Specific</a></li>
            <li><a href="/Events/General">General</a></li>
         </ul>
         </div>
      </div>
   </nav>

   <div class="container">
       <h1>Scotland</h1>
       <h2>Starting European minor power</h2>
       <p class="lead">Scotland has many events related to the English incursions into Scotland.</p>
       <p></p>
       <p></p>
       <p class="lead">The Auld Alliance</p>
       <p>Trigger conditions are that the event has not fired before. Country is Scotland, England exists and France exists, dont be at war with France. Year is between 1512 and 1550.</p>
       <p>Two event paths can be chosen</p>
       <p>1# "Good relations with France" France gets opinion modifier Good relations towards Scotland which gives +50 opinion. And Scotland gets the same towards France. England gets an irritated -10 opinion modifier with Scotland.</p>
       <p>2# "We shall have nothing to do with France!" England gets a +20 opinion modifier towards Scotland. France gets an opinion modifier of -10 towards Scotland..</p>
       <p></p>
       <p></p>
       <p class="lead">Scottish Witchcraft Act</p>
       <p>Trigger conditions are that it can fire only once. Year is between 1563 and 1735. Is not in a regency and is Scotland.</p>
       <p>Two event paths can be chosen.</p>
       <p>#1 "Defend the Witchcraft Act" adds ruler modifier "Scottish witchcraft act" which gives +1 papal influence per year. +5 Tech cost.</p>
       <p>#2 "Denounce it" lose 5 prestige.</p>
   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
